.navbar-custom {
    background-color: #292924;
    position: fixed;
    width: 100%;
}
.navbar-brand, .nav-link{
    padding: 10px;
    color: #EEEEEE;
    font-size: 16px;
} 
.navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.nav-link:hover, .nav-item:hover{
    background-color: grey;
    color: #fff;
    border-radius: 5px;
}
.navbar-custom > .navbar-brand:hover {
    color: #fff;
}

@media all and (min-width: 575px) {
    .navbar-custom > .navbar-brand:hover {
        background-color: grey;
        color: #fff;
        border-radius: 5px;   
    }
}
@media all and (max-width: 575px) {
    .nav-item{
        padding-left: 15px;
    }
}
