<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body onload="refresh()">
    <div class="header">
        <strong><h4 id="userHead" style="float: left; color: white;"></h4></strong>
        <div style="float:right; display: flex;">
            <a href="/" id="home"><i class="material-icons" style="font-size: 25px;">home</i></a>
            <a href = "cart.html"><i class="fa fa-shopping-cart" style="font-size: 22px;"></i></a>
            <a href="user.html" class="btn btn-primary" id="login">Login</a>
            <a href="user.html" id="profile"><i class="fa fa-user-circle" style="font-size:24px"></i></a>
            <a class="btn btn-danger" id="logout">Logout</a>
        </div>
    </div>
    <br>
    <h3 align="center">Home</h3>
    <div id="main">
    
    </div>

    <div class="modal">
        <div id="item-desc" class="flex-container-center">
            <h2>Product Description</h2>
            <span id="close">&times;</span>
            <br>
            <hr>
            <img id="item-img" src="" alt="Product Image">
            <br><br>
            <p id="desc"></p>
            <br>
            <button class="desc-button btn-success"></button>
        </div>
    </div>

</body>
<script src="js/script.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</html>